body{
   font: 15px/1.5 arial,helvetica,sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
}
.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
}
ul{
   margin: 0;
   padding: 0;
}

.button_1{
   height: 38px;
   background: #e8491d;
   border: 0;
   padding-left: 20px;
   padding-right: 20px;
   color: #ffffff;
}
.dark{
   padding: 15px;
   background: #35424a;
   color: #ffffff;
   margin-top:10px ;
   margin-bottom: 10px;
}